<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="favicon.ico">
  <title>Billy the Schmidt</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:300,600" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  
  <nav class="navbar navbar-default ">
    <div class="container">

      <div class="navbar-header">
        <p class="navbar-brand">Billy Schmidt </p>
      </div>
      
        <ul class="nav navbar-nav navbar-right">
        
          <li id="home"><a class ="home_btn" href="/">HOME</a></li>
          <li id="about"><a class ="about_btn" href="/about">ABOUT</a></li>
          <li id="portfolio"><a class ="portfolio_btn" href="/portfolio">PORTFOLIO</a></li>
          <li id="resume"><a class ="resume_btn" href="/resume">RESUME</a></li>
          <li id="blog"><a class ="blog_btn"  href="/blog">BLOG</a></li>
          <li id="contact"><a class ="contact_btn"  href="/contact">CONTACT</a></li>
        </ul>
    </div>
  </nav>


  <body>
   
