<%- include("partials/header"); -%>

<body class="body-darker">

  <div class="triangle-div" id="triangle-div">
    <img src="/images/SVG/triangle3.svg" class="triangle-img triangle-linear" alt="">
  </div>
  <h1 class='left-header'>ABOUT</h1>

  <div class="about-info-box">
    <p id="homePara-style">

      I have sixteen years of experience designing and creating a multitude of one-of-a-kind projects including numerous
      interactive exhibits for natural history, science and children's museums as well as many other projects that range
      from CO2 Laser manufacturing to engineering and architectural drawings for construction projects, permaculture and
      garden designs, custom designed weather instruments, a solar powered atmospheric water generating backpack
      prototype, kinetic wind sculptures, technical theater set builds, tons of props and stage items, sensor triggered
      environments, time-lapse crystal photography, creative support and production on film, video and other media as
      well as a hand full of creative commercial and residential construction projects. <br>
      <br>
      Checkout some of my timelapse crystal growth photography below, <br> it gets interesting around 24-30 seconds in.
    </p>
  </div>

  <div class="video-box">
    <div class="crystal-div">
      <iframe class="crystal-video" src="https://player.vimeo.com/video/11361516" width="640" height="360"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>

  <div class="about-info-box">
    <p id="homePara-style">
      Trained as a traditional studio artist, interactive designer and constant learner. I majored in printmaking,
      ceramics and 3D design with major diversions in forestry science, mycology, agriculture, chemistry and
      photography. I also have a love for architecture, carpentry, mold making, steel and foundry work, painting, prop
      making, time-lapse photography and plant cell culture to name just a few. <br>
      <br>
      I have had a keyboard attached to my wrists since 1988, so I have a wide spectrum of computer related skills
      including coding for custom hardware. <br> I have worked as a certified Apple technician and have designed,
      installed
      and managed all manner of networked equipment, sensors and clustered computers for unique interactions,
      visualization and content display. I'm also super handy with a soldering iron, have fluency in several programming
      languages and stay up-to-date with a long list of software packages.

    </p>





    <%- include("partials/footer"); -%>