<%- include("partials/header"); -%>

<body class="body-darker">

  <div class="triangle-div" id="triangle-div">
    <img src="/images/SVG/triangle3.svg" class="triangle-img triangle-linear" alt="">
  </div>
  <h1 class='left-header'>ABOUT</h1>

  <div class="about-info-box">
      <p id="homePara-style">
  
        I have sixteen years of experience designing and creating a multitude of one-of-a-kind objects including numerous
        interactive exhibits for natural history, science and children's museums as well as many other projects that range
        from our small custom design and CO<sub>2</sub> Laser manufacturing shop, <a href="/contact"> MODERN SAVAGE DESIGN, </a> to providing creative and technical support for the production of
        film, video, interactive electronic and other media products for museums, science centers and many other clients. <br>
        </p>
        <p id="homePara-style">
       Other projects include custom designed electronics and weather instruments for the Birch Aquarium, a solar powered atmospheric water generating backpack
        prototype, various kinetic and wind powered sculptures, technical set builds-outs for various theaters, lighting studios and production sets in Chicago and elsewhere. 
        </p>
        <p id="homePara-style">
        I have also created many sensor triggered and controlled environments, produced tons of props and stage items for theater and television, shot dozens of time-lapse
        crystal photography sequences for clients large and small as well as
        completing a hand full of creative commercial and residential construction projects over the years.
      
        I also specialize in indoor and outdoor garden projects and permaculture design, including the creation and
        programming of custom environmental controls, including liquid nutrient delivery and management.
        </p>
        <br>
        <br>
        <p class = "small-white-header">
        Checkout some of my time-lapse crystal growth photography below, <br> it gets interesting around 24-30 seconds in.
      </p>
    </div>
  
    <div class="video-box">
      <div class="crystal-div">
        <iframe class="crystal-video" src="https://player.vimeo.com/video/11361516" width="640" height="360"
          allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
  
    <div class="about-info-box">
      <p id="homePara-style">
        Trained as a traditional studio artist, interactive designer and constant learner. I majored in printmaking,
        ceramics and 3D design with major diversions in forestry science, mycology, agriculture, chemistry and
        photography. I also have an obvious love for architecture, carpentry, mold making, steel and foundry work,
        painting, prop making, time-lapse photography and plant cell culture to name just a few.
       </p>
       <p id="homePara-style">
        I have had a keyboard attached to my wrists since 1988, so I have a wide spectrum of computer related skills
        including coding for custom hardware. <br> I have worked as a certified Apple technician and have designed,
        installed and managed all manner of networked equipment, sensors and clustered computers for unique interactions,
        visualization and content display. I'm also super handy with a soldering iron, have fluency in several programming
        languages and stay up-to-date with a long list of software packages.
        </p>
        <p id="homePara-style">
        I have been planning, designing, building, living and breathing hands-on interactives and media for more than 15
        years. I started this work in Chicago at Redmoon theater in 2002 building technical set and props and then moved
        to The Field museum of Natural History in 2004-2008 and then on to contracting for numerous Science, Natural
        history museums and Aquariums in Southern California and around the country.
        </p>
        <p id="homePara-style">
        In 2011 I was employed by a small children's museum in Escondido, CA. called The San Diego Children's Discovery
        museum ( http://sdcdm.org/about/our-story) as the exhibits and operations manager to lead a move and expansion
        into a new building. From a 4,000-sq. ft. boutique size museum to a medium size 16,000-sq. ft. museum with an
        eventual mobile exhibits program and a regional reach.
        </p>
        <p id="homePara-style">
        Here I was tasked with managing the construction project, designing and building an entire exhibits program,
        implementing IT and software strategies, staffing our new facility and basically building a new museum from the
        ground up. After less than nine months we transitioned from the old space to the new without disruption. We had a
        new shell of a building with a few exhibits, a dedicated following and decent support from the community but we
        would need to grow at an incredible pace to make it all work. This was a blank canvas with a tight budget and
        short time line. I could fill a ream of paper with the awesome work that our small team did in the community over
        these five years. We partnered with every decent and willing group, school, hospital, museum, business, donor and
        individual that fit with our mission and the was willing to engage. We had year-over-year growth and a level of
        excitement and participation from visitors and donors that made waves noticeable by every other museum in the
        region. This allowed us to quickly grow in 4 years from an average daily attendance of 15,000 annually to
        approaching 140,000 yearly in 2016.
        </p>
        <p id="homePara-style">
        These are still small numbers in the grand scheme of the museum and exhibits world. Before this I worked at the
        Field museum and designed interactives for traveling and permanent exhibits in the 20k-75k sq. ft. range. Vast
        halls full of dozens of near bullet proof exhibits that often take several years each to design, prototype, test,
        build, and finally install.
        </p>
        <p id="homePara-style">
        This was an amazing time to work at the Field, we designed and built more than 175k sq. ft. of exhibits in 4
        years. I would have single small interactive that had budgets easily double or triple the entire SDCDM yearly
        exhibits department operating budget. But what made it extremely challenging also made it a lot of fun. We engaged
        the community, I had several classes of high school interns from http://www.hightechhigh.org/ and other local
        schools that would come and help with the design and build of our exhibit prototypes. I designed and built a
        400-sq. ft. design and build studio at the museum with the help of many of these students. They helped in the
        layout, during inspections and even installing the sky lights. These are the brothers and sisters of our younger
        visitors. By engaging the entire community, we built something that is a total success.
        </p>
        <p id="homePara-style">
        I am happy and confident to provide any number of references from any of my past employers, check out my <a href="/resume">RESUME.</a> 
        <br>
        <br>
        If you still have questions or comments <a href="/contact">CONTACT ME</a> for more information.
        <br>
        </p>
    </div>
  
    <div class="about-info-box">
      <h1 class='white-header'>RECENT BACK STORY 2008-2018 </h1>
  
      <p id="homePara-style">
          Obviously I have a lot to say!  And just in case you missed the back story on the bottom of the home page and want to read even more of my rambling, here
        it is:
        </p>
        <p id="homePara-style">
        I'm obsessed with building things and innovation.
        Probably to a fault. Anything. Everything. Software, hardware, exhibits, gardens, cabinets, chairs, bathrooms,
        lamps, couches, laminar flow hoods,
        cnc routers, decks, houses, whatever. I love designing and prototyping new, interesting, beautiful and weird
        things that don't
        easily fit
        inside the box.
        </p>
        <p id="homePara-style">
          At the end of 2018 I relocated to Baltimore, MD with my fiancé and our pets to a great live/work space in Mount
          Vernon
          and I'm excited to find new projects, collaborations, museum partners and more.
        </p>
  
        <p id="homePara-style">
          I spent the last 10 years living on the west coast and for 9 of those years based in San
          Diego, CA where I was an on-call exhibit designer, creative technologist, interactive developer and general
          creative and operations consultant I also kept a few clients in Chicago. While living in SD I regularly worked
          with MACSD, UCSD and The Birch Aquarium at Scripps, World Beat Center, The Nat and many more.
        </p>
  
        <p id="homePara-style">
          In 2011 I was tapped By the San Diego Children's Discovery Museum to lead the redesign of all exhibits as
          well as the move to a new much larger space. Here I spent 5 years designing and building a museum and its
          exhibits
          programs from the ground. After managing the 6-month construction project, I set to work producing the new
          exhibits, gardens and environmental programs. I also managed IT and operations, developed a mobile museum
          program,
          hired and managed various staff and contractors, managed several department budgets and wore many other hats in
          the first few years of operating in this the new space.
        </p>
  
        <p id="homePara-style">
          I spent the next couple of years working on a fantastically varied project that was partially funded by NSF and
          a
          just small part of a much larger fellowship program I was participating in, here I worked with a small team to
          develop the idea of a water generating backpack that could be solar powered.
        </p>
  
        <p id="homePara-style">
          I also managed to completely restore my 1911 Craftsman Bungalow, -almost single handedly- I did have one friend
          from St. Louis come out
          and help a couple of times over the years and also hired a couple of painters to help prime the exterior
          and windows but that was it, it took years and tremendous effort and planning which took place over a 4-5-year
          period of mostly nights and weekends.
        </p>
        <p id="homePara-style">
          I redesigned the kitchen layout, moved some doors around, opened up a wall or two, relocated the bathrooms and
          more. I tore half this house back
          to studs and rebuilt it all from scratch. I designed and built two bathrooms, building custom mortar pans,
          setting
          all of the tiles, had custom
          trim remade, built all new custom cabinets from scratch for the kitchen and bathrooms, made custom cast
          countertops, restored all of the original windows, restored the exterior, built a tired deck and walkway,
          designed
          the surrounding xeriscape full of native cactus and
          succulent landscapes.
        </p>
  
        <p id="homePara-style">
          I loved San Diego, still do. It's my second home and where I met the most amazing woman and my future wife.
          Flash
          forward a few years
          and so many fantastic and profitable projects, Rebecca and I decided to mix it up, sell our house in
          San Diego and take a chance and find something new, do a little traveling, go back to school to focus on data
          science, forest
          management and learn about ecosystem science to boot for a couple of years before we settled a little closer to
          families on the East Coast and in the Midwest.
        </p>
  
        <p id="homePara-style">
          Now it's May 2019. We traveled, went back to school, started a small design and laser manufacturing business and
          now we're living and working in Baltimore, MD. We purchased a small building in Mount Vernon where we have our
          design studio and laser workshop. We are super excited by all of the possibilities that lie ahead.
        </p>
  
    </div>
  
  
  </p>




  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <p class="navbar-brand">Billy Schmidt </p>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a class="home_btn" href="/">HOME</a></li>
        <li id="about"><a class="about_btn" href="/about">ABOUT</a></li>
        <li id="portfolio"><a class="portfolio_btn" href="/portfolio">PORTFOLIO</a></li>
        <li id="resume"><a class="resume_btn" href="/resume">RESUME</a></li>
        <li id="blog"><a class="blog_btn" href="/blog">BLOG</a></li>
        <li id="contact"><a class="contact_btn" href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>


  <%- include("partials/footer"); -%>