<%- include("partials/header"); -%>

<body class="body-darker">

  <div class="triangle-div" id="triangle-div">
    <img src="/images/SVG/triangle3.svg" class="triangle-img triangle-linear" alt="">
  </div>
  <h1 class='left-header'>ABOUT</h1>


  <div class="about-info-box">
    <div class="about-story-box1">
      <p id="homePara-style">

          I have sixteen years of experience designing and creating a multitude of one-of-a-kind objects including
          numerous
          interactive exhibits for natural history, science and children's museums as well as many other projects that
          range
          from our small custom design and CO<sub>2</sub> Laser manufacturing shop, <a href="/contact"> MODERN SAVAGE
            DESIGN, </a> to providing creative and technical support for the production of
          film, video, interactive electronic and other media products for museums, science centers and many other
          clients. <br>
          <br>
          I worked as a full time interactive exhbit designer at the Field Museum in Chicago from 2004-2008 and then continued to produce media work on contract for the museum till 2014. 
        </p>
        <p id="homePara-style">
          Other projects include custom designed electronics and weather instruments for the Birch Aquarium, a solar
          powered atmospheric water generating backpack
          prototype, various kinetic and wind powered sculptures, technical set builds-outs for various theaters, lighting
          studios and production sets in Chicago and elsewhere.
        </p>
        <p id="homePara-style">
          I also create sensor triggered and controlled interactive environments, produce tons of props and stage items
          for theater and television, shoot time-lapse photography sequences for clients large and small as well as
          completing a hand full of creative commercial and residential construction projects over the years.
  
          I also specialize in indoor and outdoor garden projects and permaculture design, including the creation and
          programming of custom environmental controls, including liquid nutrient delivery and general operatoions management.
        </p>
        <br>
        <br>
      </div>
    </div>
  
    <h1 class="small-white-header">CRYSTAL GROWTH VIDEO</h1>
  
    <div class="video-box">
      <div class="crystal-div">
        <iframe class="crystal-video" src="https://player.vimeo.com/video/11361516" width="640" height="360"
          allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
  
    <h1 class='small-left-header'>MORE INFO </h1>
    <div class="about-info-box2">
      <div class="about-story-box2">
        <p id="homePara-style">
          Trained as a traditional studio artist, interactive designer and constant learner. I majored in printmaking,
          ceramics and 3D design with major diversions in forestry science, mycology, agriculture, chemistry and
          photography. I also have a love for architecture, carpentry, mold making, steel and foundry work,
          painting, prop making, time-lapse photography and plant cell culture to name just a few.
        </p>
        <p id="homePara-style">
          I have had a keyboard attached to my wrists since 1988, so I have a wide spectrum of computer related skills
          including coding for custom hardware. <br> I have worked as a certified Apple technician and have designed,
          installed and managed all manner of networked equipment, sensors and clustered computers for unique
          interactions,
          visualization and content display. I'm also super handy with a soldering iron, have fluency in several
          programming
          languages and stay up-to-date with a long list of software packages.
        </p>
        <p id="homePara-style">
          I have been planning, designing, building, living and breathing hands-on interactives and media for more than 15
          years. I started this work in Chicago at Redmoon theater in 2002 building technical set and props and then moved
          to a positron at The Field museum of Natural History in 2004-2008 where we designed and built more than 175,000
          sq. ft. of permeant
          exhibits over the course of 4 years. I then moved to San Diego and continued contracting for numerous Science,
          Natural
          history museums and Aquariums in Southern California and around the country.
  
        </p>
  
        <p id="homePara-style">
        In 2011 I was hired by the <a href="http://sdcdm.org/about/our-story">San Diego Children's Discovery Museum </a> to lead the redesign of all exhibits as well as
        the move to a new much larger space. From a 4,000-sq. ft. boutique museum to a medium size 16,000-sq. ft. museum with a mobile exhibits program and a regional reach. 
        Here I spent 5 years designing and building a museum and its exhibits
        programs from the ground. After managing the 6-month construction project, I set to work producing the new
        exhibits, gardens and environmental programs. I also managed IT and operations, developed a mobile museum program,
        hired and managed various staff and contractors, managed several department budgets and wore many other hats in
        the first few years of operating in this the new space.
        </p>
     
        <p id="homePara-style">
          Here I was tasked with managed construction projects, designed and built an entire exhibits program including outdoor hands-on gardens, environmental and water conservation programming,
          implemented IT and software strategies, staffed the new facility and basically built a new museum from the
          ground up. After less than nine months we transitioned from the old space to the new without disruption. We partnered with every decent and willing group, school, hospital, museum, business, donor
          and individual that fit with our mission and was willing to engage. We had amazing year-over-year growth and a level of
          excitement and participation from visitors and donors that made noticeable waves in the community.
          This allowed us to quickly grow in 4 years from an average daily attendance of 15,000 annually to
          approaching 140,000 yearly in 2016.
        </p>
  
        <p id="homePara-style">
          I spent the next couple of years working on a project born out of a yearlong fellowship I
          participated in that was funded by the NSF.
          Here in San Diego I worked with a small team to develop and prototype the idea of a water generating backpack
          that could be solar powered.
        </p>
        <p id="homePara-style">
          I also managed to completely restore my 1911 Craftsman Bungalow, -almost single handedly- I had a friend
          from St. Louis come out and help a couple of times over the years and I also hired a couple of painters to help
          prime the exterior of
          the house and windows but that was it, it took a tremendous amount of planning and a labor of love to finish
          this 4-5-year project mostly on nights and weekends.
          <br>
          <br>
          I redesigned the kitchen layout, moved some doors around, opened up a wall or five, relocated the bathrooms and
          more. I tore half of this house back
          to studs and rebuilt it all from scratch. I designed and built two bathrooms, made custom mortar pans for the
          showers,
          setting all of the tiles, had custom
          trim that matched the original milled, built all new custom cabinets from scratch for the kitchen and bathrooms,
          made custom cast
          countertops, restored the exterior, restored and re-hung all 21 double-hung windows,
          built a new craftsman style cedar fence, designed and installed a tiered deck and wooden walkway, installed a
          grey-water system, designed
          the surrounding xeriscape full of rare and native cactus and other-worldly succulent landscaping and a hundred
          other little projects over the 8 years I lived in that house.
  
        </p>
        <p id="homePara-style">
          I loved San Diego and still do. It's my second home and where I met the most amazing woman and my future wife.
          Flash forward a few years and so many fantastic and profitable projects, Rebecca and I decided to mix it up,
          sell our house in
          San Diego and take a chance to find some completely new challenges, do a little traveling, go back to school to
          focus on data
          science, forest management and learn about ecosystem science to boot; all before we settled a little closer to
          families on the East Coast and in the Midwest. And we are super excited to write the next chapter of our adventure.
        </p>
  
        <p id="homePara-style">
          I am happy and confident to provide any number of references from any of my past employers, check out my <a
            href="/resume">RESUME.</a>
          <br>
          <br>
          If you still have questions or comments <a href="/contact">CONTACT ME</a> for more information.
          <br>
        </p>
  
  







    </div>
  </div>



  </p>



  <%- include("partials/footer"); -%>