<%- include("partials/header"); -%>

<body class="body-darker">

  <div class="triangle-div" id="triangle-div">
    <img src="/images/SVG/triangle3.svg" class="triangle-img triangle-linear" alt="">
  </div>
  <h1 class='left-header'>ABOUT</h1>

  <div class="about-info-box">
    <p id="homePara-style">
      Trained as a traditional studio artist, interactive designer and constant learner. I majored in printmaking,
      ceramics and 3D design with major diversions in forestry science, mycology, agriculture, chemistry and
      photography. I also have a love for architecture, carpentry, mold making, steel and foundry work, painting, prop
      making, time-lapse photography and plant cell culture to name just a few. <br>
      <br>
      I have had a keyboard attached to my wrists since 1988, so I have a wide spectrum of computer related skills
      including coding for custom hardware. I have worked as a certified Apple technician and have designed, installed
      and managed all manner of networked equipment, sensors and clustered computers for unique interactions,
      visualization and content display. I'm also super handy with a soldering iron, have fluency in several programming
      languages and stay up-to-date with a long list of software.

    </p>

  </div>

  <div class="info-box">
    <div class="crystal-div">
      <iframe class="crystal-video" src="https://player.vimeo.com/video/11361516" width="640" height="360"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>


  <%- include("partials/footer"); -%>