<%- include("partials/header"); -%>
<body>


  <body class ='body-even-darker'>

  
    <div class="blog-div">
        <img id = "hex-img" src="/images/SVG/gears.svg" class="alt-linear-grade" alt="">
      </div>
  
    <h1 class = "resume-header">CONTACT</h1>
    <p id="homePara-style"><%= contactPara  %></p>

    
<%- include("partials/footer"); -%>
