<%- include("partials/header"); -%>

<body class="body-dark">

  <div class="hex-div" id="hex-div">
    <img id="hex-img" src="/images/SVG/tile-icons.svg" class="hex-img alt-linear-grade" alt="">
  </div>

  <div class="pic-and-hello-grid">
    <img class="my_pic-img" src="/images/SVG/my-pic1.svg" alt="">
    <div class="hello-box">
      <div class="hello-div">
        <h1 class='hello-white-header'>HELLO</h1>
        <p id="helloPara-style">

            I'm Billy, a creative technologist and artistic nomad.
            <br>
            <br>
            I develop a variety of embedded and interactive web applications. I also create a wide range of art work, photography and video projects as well as designing and producing many other functional, physical and electronic
            objects for museums, science centers, theaters, television and commercial projects, private installations and
            more. Scroll down for a little back story or check out my resume or portfolio above for more info.
            <br>
            <br>
  
          </p>
        </div>
      </div>
    </div>
  
    <div class="info-box">
      <h1 class='white-header'>RECENT BACK STORY</h1>
  
      <p id="homePara-style">
  
        I'm obsessed with building things and innovation.
        Probably to a fault. Anything. Everything. Software, hardware, exhibits, gardens, weather instruments, cabinets, chairs, bathrooms,
        lamps, laminar flow hoods, cnc routers, decks, houses, this website, I build it. I love designing and prototyping new, interesting, beautiful and weird things that don't
        easily fit
        inside the box.
        </p>
  
        <p id="homePara-style">
        At the end of 2018 I relocated to Baltimore, MD with my fiancé and our pets to a great live/work space in Mount
        Vernon
        and I'm excited to find new projects, collaborations, museum partners and more. <br>
        <br>
        I spent the last 10 years living on the west coast and for 9 of those years based in San
        Diego, CA where I was an on-call exhibit designer, creative technologist, interactive developer and general
        creative and operations consultant I also kept a few clients in Chicago. While living in SD I regularly worked
        with MACSD, UCSD and The Birch Aquarium at Scripps, World Beat Center, The Nat and many more.
      </p>
  
      <p id="homePara-style">
        In 2011 I was tapped By the San Diego Children's Discovery Museum to lead the redesign of all exhibits as
        well as the move to a new much larger space. Here I spent 5 years designing and building a museum and its exhibits
        programs from the ground. After managing the 6-month construction project, I set to work producing the new
        exhibits, gardens and environmental programs. I also managed IT and operations, developed a mobile museum program,
        hired and managed various staff and contractors, managed several department budgets and wore many other hats in
        the first few years of operating in this the new space.
      </p>
      <p id="homePara-style">
        I spent the next couple of years working on a fantastically varied project that was partially funded by NSF and a
        just small part of a much larger fellowship program I was participating in, here I worked with a small team to
        develop the idea of a water generating backpack that could be solar powered.
      </p>
      <p id="homePara-style">
        I also managed to completely restore my 1911 Craftsman Bungalow, -almost single handedly- I did have one friend
        from St. Louis come out
        and help a couple of times over the years and I also hired a couple of painters to help me prime the exterior of the house
        and all 21 windows but that was it, it took years and tremendous effort and planning which took place over a 4-5-year
        period of mostly nights and weekends.
        <br>
        <br>
        I redesigned the kitchen layout, moved some doors around, opened up a wall or two, relocated the bathrooms and
        more. I tore half this house back
        to studs and rebuilt it all from scratch. I designed and built two bathrooms, building custom mortar pans, setting
        all of the tiles, had custom
        trim remade, built all new custom cabinets from scratch for the kitchen and bathrooms, made custom cast
        countertops, restored all of the original windows, restored the exterior, restored and re-hung all 21 double hung windows,
         built a tiered deck and walkway, designed
        the surrounding xeriscape full of rare and native cactus and
        other-worldly succulent landscaping.
      </p>
      <p id="homePara-style">
        I loved San Diego, still do. It's my second home and where I met the most amazing woman and my future wife. Flash
        forward a few years
        and so many fantastic and profitable projects, Rebecca and I decided to mix it up, sell our house in
        San Diego and take a chance to find some completely new challenges, do a little traveling, go back to school to focus on data
        science, forest management and learn about ecosystem science to boot; all before we settled a little closer to
        families on the East Coast and in the Midwest.
      </p>
      <p id="homePara-style">
        Now it's May 2019. We traveled, I went back to school, we started a small design and laser manufacturing business and
        now we're living and working in Baltimore, MD. We purchased a small building in Mount Vernon where we have our
        design studio and laser workshop. We are super excited by all of the possibilities that lie ahead.
      </p>
  

    <!-- </div> -->
  </div>



  <nav class="navbar navbar-default">
      <div class="container">
  
        <div class="navbar-header">
          <p class="navbar-brand">Billy Schmidt </p>
        </div>
  
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a class="home_btn" href="/">HOME</a></li>
          <li id="about"><a class="about_btn" href="/about">ABOUT</a></li>
          <li id="portfolio"><a class="portfolio_btn" href="/portfolio">PORTFOLIO</a></li>
          <li id="resume"><a class="resume_btn" href="/resume">RESUME</a></li>
          <li id="blog"><a class="blog_btn" href="/blog">BLOG</a></li>
          <li id="contact"><a class="contact_btn" href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </nav>
  
  
  
  <%- include("partials/footer"); -%>