<%- include("partials/header"); -%>

<body class="body-dark">

  <div class="hex-div" id="hex-div">
    <img id="hex-img" src="/images/SVG/tile-icons.svg" class="hex-img alt-linear-grade" alt="">
  </div>

  <div class="pic-and-hello-grid">
    <img class="my_pic-img" src="/images/SVG/my-pic1.svg" alt="">
    <div class="hello-box">
      <div class="hello-div">
        <h1 class='hello-white-header'>HELLO</h1>
        <p id="helloPara-style">

          I'm Billy, an artist and creative technologist. <br>
          I create a wide range of art work, develop a variety of embedded and interactive web applications and spend most of my time designing and building functional, physical and
          electronic objects for museums, science centers, theaters, television and commercial projects and private
          installations. I also shoot photography and produce video and motion graphic projects for museums. Scroll down for a little back story or check out my resume and portfolio above for more info.
        </p>

      </div>
    </div>
  </div>>

  <!-- <div class="backstory-box"> -->
  <h1 class='white-header'>RECENT BACK STORY</h1>

  <div class="backstory-info-box">
    <div class="recent-story-box">

      <p id="homePara-style">

        I'm obsessed with making art and building things. Anything and everything. I plan, draw, design and bring things to
        life.
      </p>

      <p id="homePara-style">
        This includes: software, hardware, exhibits, gardens, weather
        instruments, cabinets, chairs, bathrooms, laminar flow hoods, cnc routers, small buildings, this website and
        more. I specialize in innovation and smart iteration and
        love designing and prototyping new, interesting, beautiful, challenging and weird things that don't easily fit
        inside the box.

      </p>
      <p id="homePara-style">
          I spent the last 10 years living on the west coast and for 9 of those years based in San
          Diego, CA. 5 of those years I spent as the exhibits and operations director at <a href="http://sdcdm.org/about/our-story">San Diego Children's Discovery Museum </a> and the rest of the time
          I worked as an on-call exhibit and interactive designer, creative technologist and artistic consultant all over Southern California.
          I also kept a few clients in <a href="https://www.fieldmuseum.org/">Chicago</a> and elsewhere. While living in SD I regularly worked
          with <a href=" https://mediaartscenter.org/">MACSD</a>, <a href="https://aquarium.ucsd.edu/">UCSD and The Birch Aquarium at Scripps</a> ,  <a href="http://www.worldbeatcenter.org/">WorldBeat Center</a>,
          <a href=" https://www.sdnhm.org/">The Nat</a> and many more. 
          
          
          
          
        
         




      </p>
      <p id="homePara-style">
          We left San Diego in August of 2016 for a fairly epic journey where we traveled, I went back to
          school for a year and a half and my partner and I started a small design and laser manufacturing
          business.
      </p>
      <p id="homePara-style">
       It's now May 2019 and we've relocated to Baltimore, MD, where we have purchased a small building in
          Mount Vernon where we have our design studio and laser workshop. 
          </p>
          <p id="homePara-style">
          We are super excited by all of the
          possibilities that lie ahead and I'm very excited to find new a job, interesting projects, collaborations, museum partners and more!
        </p>

    </div>

  </div>
  </div>


  <%- include("partials/footer"); -%>