<%- include("partials/header"); -%>

<body class="body-dark">

  <div class="hex-div" id="hex-div">
    <img id = "hex-img" src="/images/SVG/tile-icons.svg" class="hex-img alt-linear-grade" alt="">
    <!-- <img id ="hex-img" class="hex-img hex-linear"> -->
  </div>

  <div class="pic-and-hello-grid">
   <img class="my_pic-img" src="/images/SVG/my-pic1.svg" alt="">
    <div class ="hello-box">
    <div class="hello-div">
      <h1 class='hello-white-header'>HELLO</h1>
      <p id="helloPara-style">
        I'm Billy, a creative technologist, artistic nomad and self-proclaimed citizen of the future. I make things for museums, science centers, theaters, televison and commercial projects, private installations, the web and so much more. <br>
          <br>
          I'm obsessed with innovation and designing new, interesting, beautiful and weird things that don't easily fit in one box
          and I would love to hear how I can help with your project. <br>
        <br> 
      </p>
    </div>
   </div>
  </div>



  <div class = "info-box">
  <div class = "more-info-div">
  <h1 class='white-header'>MORE INFO</h1>
  <p id="homePara-style"> I have sixteen years of experience designing and creating a multitude of one-of-a-kind
    projects including numerous interactive exhibits for natural history, science and children's museums as well as many
    other projects that range from CO2 Laser manufacturing to engineering and architectural drawings for construction
    projects, permaculture and garden designs, custom designed weather instruments, a solar powered atmospheric water
    generating backpack prototype, kinetic wind sculptures, technical theater set builds, tons of props and stage items,
    sensor triggered environments, time-lapse crystal photography, creative support and production on film, video and
    other media as well as a hand full of creative commercial and residential construction projects. </p>
  </div>
</div>







  <%- include("partials/footer"); -%>