<%- include("partials/header"); -%>
  

<body class = "body-even-darker">

<h1 class = "white-header">PORTFOLIO</h1>

  <p id= "homePara-style"><%= homePara %></p>
  
 


  <img class="scroller" src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" />
  <img class="scroller" src="https://ik.imagekit.io/demo/img/image2.jpeg?tr=w-400,h-300" />
  <img class="scroller" src="https://ik.imagekit.io/demo/img/image3.jpg?tr=w-400,h-300" />
  
  
  

  <h1>
  
  </h1>
  <p>
   
  </p>

  

  <%- include("partials/footer"); -%>
