
 
<%- include("partials/header"); -%>

<!-- SKY HEADER  -->
<!-- <div class="container"></div> -->
<!-- <div class = "sky-div" > -->
    <!-- <img src="/images/SVG/hex.svg" class = "hex-img hex-linear" alt=""> -->
    <!-- <div class="stars "></div> -->
    <!-- <div class="twinkling "></div> -->
    <!-- <div class="clouds "></div> -->
  <!-- </div> -->

  <div class="hex-div" id="hex-div">
    <img id = "hex-img" src="/images/SVG/circles.svg" class="hex-linear" alt="">
    <!-- <img id ="hex-img" class="hex-img hex-linear"> -->
  </div>



<body class = "resume-body">

    

<h1 class = "resume-header">RESUME</h1>  


<div class = "resume" id = "resume_page1">
 <img class="resume-page" src ="/images/SVG/resumeA1.svg" alt="">
</div>

<div class ="resume" id ="resume_page2" >
<img class="resume-page" src ="/images/SVG/resumeA2.svg" alt="">
</div>



<p class = "resume-bottom" >
 
 If you made it this far you should <a href="/contact">CONTACT ME!</a> 
</p>

<%- include("partials/footer"); -%>
