

 <div class="container"></div>
<%- include("partials/header"); -%>


<!-- <div class = "sky-div" > -->
    <!-- <img src="/images/SVG/hex.svg" class = "hex-img hex-linear" alt=""> -->
    <!-- <div class="stars "></div> -->
    <!-- <div class="twinkling "></div> -->
    <!-- <div class="clouds "></div> -->
  <!-- </div> -->


  <div class="hex-div" id="hex-div">
    <img id = "hex-img" src="/images/SVG/circles.svg" class="hex-img hex-linear" alt="">
    <!-- <img id ="hex-img" class="hex-img hex-linear"> -->
  </div>



<body class = "resume-body">

    

<h1 class = "resume-header">RESUME</h1>  


<div class = "resume"></div>
 <img src="/images/SVG/resume_p1.svg" class="resume-page" alt="">
 
</div>

<div class = "resume"></div>
<img src="/images/SVG/resume_p2.svg" class="resume-page" alt="">
</div>



<p class = "resume-bottom" >
  <%= resumePara %>
</p>

<%- include("partials/footer"); -%>
