/* NIGHTTIME SKY ANIMATION */

.stars, .twinkling, .clouds {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  display:block;
 
}

.stars {
  background:#000 url(/images/nightsky/stars.png) repeat top center;
  z-index:0;
  
}
.twinkling{
  background:transparent url(/images/nightsky/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 600s linear infinite;
  -ms-animation:move-twink-back 600s linear infinite;
  -o-animation:move-twink-back 600s linear infinite;
  -webkit-animation:move-twink-back 600s linear infinite;
  animation:move-twink-back 600s linear infinite;
}

.clouds{
  background:transparent url(/images/nightsky/clouds.png) repeat top center;
  z-index:3;
  -moz-animation:move-clouds-back 600s linear infinite;
  -ms-animation:move-clouds-back 600s linear infinite;
  -o-animation:move-clouds-back 600s linear infinite;
  -webkit-animation:move-clouds-back 600s linear infinite;
  animation:move-clouds-back 600s linear infinite;
}
  
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sky-div{
        height:100%; 
    }
    
    .stars, .twinkling, .clouds {
   

        background-size: 200%;
    }
      
    
  }
  
  

  .sky-div{
    position: relative;
    text-align: center;
    padding: 20%;
    /* Border styles */
    border-style: solid;
    /* border-color: rgb(107, 106, 106); */
    /* border-style:ridge; */
    /* border-color: red green blue yellow; */
    /* border-width: 8px 8px 8px 8px;  */
   
 }