h1 {
    font-size: 4vw;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
    line-height: 3vw;

}


.slides {
    width: 80%;
    margin: 1% 10%;
    text-align: center;
}

.scroll-size {
    width: 80%;
    display: block;
    margin: 10px auto;
    border: 0;
}



/* IMAGE GRID SETTINGS  */


.img-flex {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
    /* padding-bottom: 5%; */
    padding: 5% 10% 5% 10%;
}


.img-flex img {
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    /* box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); */
    max-width: 100%;
    padding: 2% 1% 2% 1%;
}

.img-flex img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
}


/* MUSEUM PAGE */
.img-flex-museum {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
    /* padding-bottom: 5%; */
    /* padding: 5% 10% 5% 10%; */
}

.img-flex-museum img {
    /* border: 10px solid rgba(0, 0, 0, 0.3); */
    /* box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); */
    max-width: 100%;
}

.img-flex-museum img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
}


/* Mushroom Page */

.img-flex-mush {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
   padding: 0 6% 0 6%;
}

.img-flex-mush img {
    /* border: 10px solid rgba(0, 0, 0, 0.3); */
    /* box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); */
    max-width: 100%;
}

.img-flex-mush img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
}



.body-dark {
    background-color: rgb(50, 50, 50);
}

.body-darker {
    background-color: rgb(23, 23, 23);
}

.body-even-darker {
    background-color: rgb(14, 13, 13);
}

.portfolio-header {
    padding-top: 4%;
    font-size: 7vw;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(230, 230, 230);
}


.small-portfolio-header {
    color: white;
    /* padding-top: 3%; */
    text-align: left;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(230, 230, 230);
    /* font-size: 3vw; */
}

#para-style {
    padding: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vw;
    line-height: 3vw;
    color: white;
    text-align: center;
}

/*  ======= NAV BAR STYLES ======= */

.container-fluid {
    padding-top: 1%;
    padding-bottom: 1%;
    ;
}

.navbar {
    background-color: rgb(230, 230, 230);

    padding-top: 2%;
    padding-bottom: 1%;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 2.7vw;
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
    color: rgb(66, 65, 65);
}



.navbar-brand p {
    float: left;
    height: 50px;
    padding: 15px 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav li a:hover,
.navbar-nav li a.hover {
    color: #1abc9c !important;
}



/* HEADER NAME BILLY SCHMIDT COLOR */
.navbar-default .navbar-brand {

    color: #2b2b2c;
}


/* ====== BUTTON DIVS ===== */


/* portfolio home header button hover state */
a:hover {
    text-decoration: none;
}

.home_btn {
    border: solid;
    border-width: 2px;
    border-radius: 5%;
}

.portfolio_btn {
    border: solid;
    border-width: 2px;
    border-radius: 5%;
}

.blog_btn {
    border: solid;
    border-width: 2px;
    border-radius: 5%;
}


.navbar-brand {
    padding-bottom: 2%;
    font-size: 7vw;
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
}


/* ===== HOME PAGE STYLINGS ===== */


.hex-div {
    position: relative;
    text-align: center;
    /* Border styles */
    border-style: solid;
    border-color: black;
    border-width: 6px 6px 6px 6px;
}

.hex-img {
    width: 100%;
}

.info-box {
    padding: 2% 5%;
}

.more-info-div {
    position: relative;
    background-color: #444;
    border-radius: 5px;
    padding: 2% 2% 2% 5%;
}


/* PORTFOLIO BUTTONS */
.wrap {
    position: relative;
    text-align: center;
    padding: 3%;
}

.wrap-contact {
    position: relative;
    text-align: center;
    padding: 1%;
}

#portfolio-btn {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    margin: 20px auto;
    border-radius: 4px;
    letter-spacing: 2px;
    text-align: center;
    padding: 9px 50px;
    margin: 5px 5px;
    cursor: pointer;
    font-size: 4vw;
}

.back-home-btn a {
    color: rgb(66, 65, 65);
}

.back-home-btn {
    position: absolute;
    top: 16px;
    /* left: 500px; */
    left: 25em;
    z-index: 10;
    font-size: 3vw;
    letter-spacing: 1px;
    border: solid;
    border-width: 2px;
    /* border-radius: 5%; */

    font-family: 'Amatic SC', cursive;
    text-align: center;
    border-radius: 4px;
    display: block;
    margin: 2px 2px;
    cursor: pointer;
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);


}

/* ====== PORTFOLIO BUTTONS ====== */


#portfolio-btn {
    color: rgba(230, 230, 230, 0.6);
    box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0px 2px inset;
}

#portfolio-btn:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #1abc9c 0 0px 0px 60px inset;
}

/* PORTFOLIO HEADER HOME BUTTON */
#back-home-btn {
    padding: .5% 4% .5% 4%;
    color: rgb(46, 46, 47);

}

#back-home-btn:hover {
    /* color: rgba(37, 37, 37, 0.85); */
    box-shadow: rgba(255, 255, 255, 0.7) 0 0px 0px 40px inset;
    box-shadow: #1abc9c 0 0px 0px 50px inset;
}


/*   ====== FOOTER STUFF =====-= */

.footer-padding {
    padding-bottom: 8px;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #1abc9c;
}

.footer p {

    padding: 3% 0 2% 0;
    margin-top: 35px;
    font-size: 18px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    bottom: 0;

}


/*  =======  ANIMATED GRADIENTs ========= */
/* PORTFOLIO GRAD */

.hex-linear {
    background: linear-gradient(-90deg, rgb(26, 26, 26), rgb(187, 186, 186), #353232, rgb(228, 228, 228));
    background-size: 700% 400%;
    -webkit-animation: Gradient 35s ease infinite;
    -moz-animation: Gradient 35s ease infinite;
    animation: Gradient 35s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


/*  ====== RESPONSIVE SCREEN SIZES ====== */

@media only screen and (min-width: 1000px) {

    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {

        padding-bottom: 1.25%;
    }
}




@media only screen and (max-width: 767.98px) {
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
        font-size: 5vw;

    }

    .navbar-brand {
        padding-bottom: 2%;
        font-size: 9vw;
        letter-spacing: 2px;
        font-family: 'Amatic SC', cursive;
    }

    .portfolio-header {
        padding-top: 4%;
        font-size: 8vw;
        letter-spacing: 4px;
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: rgb(230, 230, 230);
    }


    #portfolio-btn {
        -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        margin: 20px auto;
        border-radius: 4px;
        font-size: 3vw;
        letter-spacing: 2px;
        font-family: 'Amatic SC', cursive;
        padding: 9px 50px;
        text-align: center;
        display: inline-block;
        margin: 5px 5px;
        cursor: pointer;
    }

}



/* SMALL SCREENS */
@media only screen and (max-width: 575.98px) {



    /* IMAGE GRID SETTINGS  */
    .img-flex {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        align-items: start;
        justify-items: center;
        padding-bottom: 5%;
    }

    .img-flex img {
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        max-width: 100%;
    }

    .img-flex img:nth-child(2) {
        grid-column: span 3;
        grid-row: span 2;
    }

    #contactPara-style {
        /* padding-top: 4%; */
        font-size: 6vw;
        line-height: 7vw;
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: rgb(230, 230, 230);
    }

    .contact-div {
        width: 100%;
    }

    .footer-padding {
        padding-bottom: 8px;
        position: relative;
        text-align: center;
        bottom: 0;
        width: 100%;
        background-color: #1abc9c;
    }

    .footer p {

        padding: 3% 0 2% 0;
        margin-top: 35px;
        font-size: 18px;
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        bottom: 0;

    }

    /* NAV MENU BUTTONS */

    /* button wrap */
    .wrap {
        padding: 0 0 3% 0;
    }


    /* INDIVIDUAL BTNS  */



    .back-home-btn {
        position: absolute;
        top: 10px;
        /* left: 300px; */
        left: 14em;
        z-index: 10;
        font-size: 5vw;
        letter-spacing: 1px;
        border: solid;
        border-width: 2px;
        border-radius: 5%;
        font-family: 'Amatic SC', cursive;
        text-align: center;
        margin: 2px auto;
        border-radius: 2px;
        display: block;
        cursor: pointer;
        -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);


    }

    /* HOME BUTTON */
    #back-home-btn {
        padding: 1% 5% 1% 5%;
        color: rgba(0, 0, 0, 0.6);
        /* box-shadow: rgba(20, 20, 20, 0.4) 0 0px 0px 2px inset; */
    }

    #back-home-btn:hover {
        /* color: rgba(37, 37, 37, 0.85); */
        /* box-shadow: rgba(255, 255, 255, 0.7) 0 0px 0px 40px inset; */
        box-shadow: #1abc9c 0 0px 0px 40px inset;
    }






    html body.body-even-darker div.wrap a#portfolio-btn.btn {
        padding: 10px 20px 10px 20px;
        font-size: 4vw;
    }

    .home_btn {
        border: solid;
        border-width: 2px;
        border-radius: 5%;
    }

    .portfolio_btn {
        border: solid;
        border-width: 2px;
        border-radius: 5%;
    }

    .blog_btn {
        border: solid;
        border-width: 2px;
        border-radius: 5%;
    }

    .container {
        height: 10px !important;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 5px 5px;
        font-size: 10vw;
    }

    .navbar-brand {
        font-size: 10vw;
        font-family: 'Amatic SC', cursive;
        margin: auto;
    }

    .portfolio-header {
        padding: 4% 0 3% 0;
        margin: auto;
        font-size: 10vw;
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: rgb(230, 230, 230);
    }

   
    #portfolio-btn {
        -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        margin: 2px auto;
        border-radius: 2px;
        font-size: 4.2vw;
        letter-spacing: 1px;
        font-family: 'Amatic SC', cursive;
        text-align: center;
        display: inline block;
        margin: 2px 2px;
        cursor: pointer;


    }



}