

h1{
    font-size: 4vw;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
    line-height: 3vw;;
}

.body-dark{
    background-color: rgb(50, 50, 50); 
}

.body-darker{
    background-color: rgb(23, 23, 23); 
}
.body-even-darker{
   background-color: rgb(14, 13, 13); 
}



 /*  ======= NAV BAR STYLES ======= */

.container-fluid {
    padding-top: 1%;
    padding-bottom: 1%;;
}

.navbar {
    background-color: rgb(230, 230, 230);  
    /* background-color:white;   */
    /* background-image: linear-gradient(to bottom right, red, yellow); */
    /* background-image: linear-gradient(rgba(99, 0, 0, 0.66),rgba(0, 0, 82, 0.708), rgba(148, 148, 0, 0.92)); */
    /* background-image: linear-gradient(to bottom right, rgba(211, 9, 9, 0.783), rgba(146, 146, 76, 0.838)); */
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 2.7vw;
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
    color: rgb(66, 65, 65);     
}
.navbar-nav{
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/* HEADER NAME BILLY SCHMIDT COLOR */
.navbar-default .navbar-brand {
    color: #2b2b2c;
}

/* MENU ITEMS COLOR  */
.navbar-default .navbar-nav>li>a {

}

 /* ====== BUTTON DIVS ===== */

.home_btn{
    border:solid;
    border-width: 2px;
    border-radius: 5%;
 }
.portfolio_btn{
     border:solid;
     border-width: 2px;
     border-radius: 5%;
 }
.blog_btn{
    border:solid;
    border-width: 2px;
    border-radius: 5%;
}


.navbar-brand{
    padding-bottom: 2%;
    font-size: 7vw;
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
}





/* ====== INDIVIDUAL PAGE STYLES ====== */

 /* ===== HOME PAGE STYLINGS ===== */

.hex-div{
    position: relative;
    text-align: center;
    /* Border styles */
    border-style: solid;
    border-color: black;
    /* border-color: red green blue yellow; */
    border-width: 6px 6px 6px 6px; 
 }
.hex-img{
width:100%;
 }

.hello-box{
    padding: 8% 10% 0 5%;
}
.hello-div{
    background-color: #444;
    border-radius: 5px;
    padding-top: 1%;
    padding-left: 5%;       
}
.pic-and-hello{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 1%;

}
.my_pic-div{
    position: relative;
    text-align: center;
    padding-top: 50%;
}

.my_pic-img{
    border-radius: 50%;
    width: 80%;
    margin-left:5%;
  }
   
#homePara-style{
    padding: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vw;
    line-height: 3vw;
    color: white;
}

.white-header{
color:white;
padding-top: 3%;
padding-left: 5%;
 text-align: left;
 font-weight: 400;
font-family: 'Josefin Sans', sans-serif;
color: rgb(230,230,230);
}

.left-header{
    padding-top: 3%;
    padding-left:5%;
    font-size: 6vw;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    color: rgb(230,230,230);
}

.info-box{
    padding: 4% 5% 0 5%;
}
.more-info-div{
    position: relative;
    background-color: #444;
    border-radius: 5px;
    padding: 2% 2% 2% 5%;
}

.crystal-div{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
   
  .crystal-div iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
  /* ===== ABOUT PAGE STYLINGS ===== */

.triangle-div{
    position: relative;
    text-align: center;
    /* Border styles */
    /* border-style: solid; */
    border-style:ridge;
    border-color: rgb(48, 48, 52);
    /* border-color: red green blue yellow;  */
    border-width: 5px 6px 6px 5px;
    background-image: linear-gradient(#34e89e,#0f3443);
    /* background-image: linear-gradient(rgba(99, 0, 0, 0.66),rgba(0, 0, 82, 0.708), rgba(148, 148, 0, 0.92)); */
 }
.triangle-img{
  
  width:100%;
 }


/*  ===== RESUME PAGE STUFF =====  */
.resume-body{
    background-color:black;   
}

.sky-div{
    position: relative;
    text-align: center;
    padding: 20%;
    /* Border styles */
    border-style: solid;
    /* border-color: rgb(107, 106, 106); */
    /* border-style:ridge; */
    /* border-color: red green blue yellow; */
    /* border-width: 8px 8px 8px 8px;  */
   
 }


.resume-header{
    padding-top: 2%;
    font-size: 6vw;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(230,230,230);
}
.resume{
    position: relative;
    padding:  1%;
}
.resume-page{
    padding: 2% 10%;
    width: 100%;
    position: relative;

}
.resume-bottom{
    padding-top: 5%;
    font-size: 3vw;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #777;
}






/* ======== PORTFOLIO PAGE ======== */

.scroller {
    background: #F1F1FA;
    width: 400px;
    height: 300px;
    display: block;
    margin: 10px auto;
    border: 0;
  }


.footer-padding {
    /* padding-top: 30%;  */
    /* padding-bottom: 60px; */
    position: relative;
	text-align: center;
    bottom: 0;
	width: 100%;
	height: 60px;
    background-color: #1abc9c;
}

.footer {
	  
    
}
.footer p {
    padding-top: 2%;
	margin-top: 25px;
	font-size: 16px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
   
}




/*  =======  ANIMATED GRADIENTs ========= */

/* HOMEPAGE GRAD */

.hex-linear {
    background: linear-gradient(45deg, rgb(26, 26, 26),rgb(187, 186, 186),  #353232, rgb(228, 228, 228));
	background-size: 600% 300%;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	animation: Gradient 35s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
  }
  


/* ABOUT PAGE GRAD */
.triangle-linear {
    background: linear-gradient(-60deg, #34e89e, #0f3443);
	background-size: 200% 200%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
  }
  



/*  ====== RESPONSIVE SCREEN SIZES ====== */

  @media only screen and (max-width: 767.98px) {
  .nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	font-size: 5vw;

   }
.navbar-brand {
    padding-bottom: 2%;
    font-size: 8vw;
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
    }
  }

  @media only screen and (max-width: 575.98px) { 
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        font-size: 7vw;
  }

  .navbar-brand {
    padding-bottom: 2%;
    font-size: 15vw;
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
}


/* NIGHTTIME SKY ANIMATION */
/* 
.stars, .twinkling, .clouds {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  display:block;
 
}

.stars {
  background:#000 url(/images/nightsky/stars.png) repeat top center;
  z-index:0;
  
}
.twinkling{
  background:transparent url(/images/nightsky/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 600s linear infinite;
  -ms-animation:move-twink-back 600s linear infinite;
  -o-animation:move-twink-back 600s linear infinite;
  -webkit-animation:move-twink-back 600s linear infinite;
  animation:move-twink-back 600s linear infinite;
}

.clouds{
  background:transparent url(/images/nightsky/clouds.png) repeat top center;
  z-index:3;
  -moz-animation:move-clouds-back 600s linear infinite;
  -ms-animation:move-clouds-back 600s linear infinite;
  -o-animation:move-clouds-back 600s linear infinite;
  -webkit-animation:move-clouds-back 600s linear infinite;
  animation:move-clouds-back 600s linear infinite;
}
  
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

 */



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .sky-div{
        height:100%; 
    }
    
    .stars, .twinkling, .clouds {
   

        background-size: 200%;
    }
      
    
  }
  
   */